name: Update README

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: JamesIves/github-activity-readme@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
